body {
  margin: 0 auto;
  max-width: 50em;
  background: #3c4556;
  color: #f8f8f2;
  font-family: sans-serif;
 /* font-size: 1.4rem;*/
  /* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    font-size: 1.3rem;
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    font-size: 1rem;
}
}

footer {
  text-align: center;
  font-size: 0.9em;
  border-top: 2px solid #f8f8f2;
  margin-top: 1rem;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #04AA6D;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

 /* unvisited link */
a:link {
  color: #bcc2cd;
}

/* visited link */
a:visited {
  color: #ff5555;
}

/* mouse over link */
a:hover {
  color: #8be9fd;
}

/* líneas de separación entre los artículos */ 
th, td {
  border-bottom: 1px solid #445566;
  padding: 12px;
}

